* {
  box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #eeeedd;
  margin: 0;
  font-family: "Roboto";
}

/* ------ Topnav BEGINNING */

.topnav {
  height: 4em;
  background-color: #f6f6ee;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 3px solid #006600;
  padding-top: 1vh;
  padding-right: 1vw;
  z-index: 100;
}

.topnav a {
  background-color: #99994d;
  margin-top: 1vh;
  border: 3px solid #55552b;
  float: right;
  margin-left: 5px;
  color: #eeeedd;
  font-size: 19px;
  text-decoration: none;
  padding: 0.2em;
  border-radius: 0.75em;
  text-align: center;
}

.topnav a:hover{
  background-color: #eeeedd ;
  color: #666633;
}

.topnav a.active {
  border: 3px solid #55552b;
  background-color: #55552b;
}

.topnav a.active:hover {
  border: 3px solid #55552b;
  background-color: #55552b;
  color:#eeeedd ;
}

.topnav .icon {
  display: none;
  border-radius: 50%;
}

.topnav #logo:hover {
  cursor: pointer;
}

.topnav .member-btn {
  border: none;
  background-color: #ffffff00;

  float: right;
  margin: 1.35vh 2vw 0 0;
  font-size: 20px;
  padding: 0.2em;
  text-decoration: underline;
  color:goldenrod;


  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: 1s;
}
.topnav .member-btn:hover {
  cursor: pointer;

  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}

@media screen and (max-width: 650px) {

  /* Hides topnav */
  .topnav a:not(:first-child) {
    display: none;
  }
  /* Shows the mobile icon navbar */
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    padding-bottom: 14em;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: flex;
    flex-basis: 100%;
  }

  .topnav .member-btn {
    background-color: #4d998c;
    margin-top: 1vh;
    border: 3px solid #2b5455;
    float: right;
    margin-left: 5px;
    color: #eeeedd;
    font-size: 19px;
    text-decoration: none;
    padding: 0.2em;
    border-radius: 0.75em;
  }

  .topnav .member-btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/* ------ Topnav END */

/* ------ Button style BEGINNING */

.important-button{
  padding: 0.75em;
  margin: 1em;
  outline: none;
  border: 5px solid #666633;
  border-radius: 1em;
  background-color: #99994d;
  cursor: pointer;
  color: white;
  outline: none;
}

@media screen and (max-width: 650px) {
  .important-button {
    margin: 0 auto;
    margin-bottom: 1em;
    display: block;
  }
}

/* ------ Button style END */

/* ------ Footer BEGINNING */

footer {
  margin-top: 3em;
  padding: 2em;
  background-color: #1a1a00;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fa-icons{
  flex-direction: column;
  text-align: center;
  padding: 0.25em;
  font-size: 30px;
  color: #99994d;
}

footer p {
  text-align: center;
  flex-basis: 100%;
  font-size: 13px;
  color: #99994d;
}

/* ------ Footer END */