* {
  box-sizing: border-box;
}

.open-button {
  position: fixed;
  max-width: 10vh;
  max-height: 10vh;
  cursor: pointer;
  bottom: 5vh;
  right: 3vw;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 4vh;
  right: 2vw;
  z-index: 80;

  height: 70%;
  width: 25%;

  border: 0.3em solid #666633;
  border-radius: 2em;

  z-index: 102;
}

#close {
  float:right;
  font-size: 2em;
  color: #9b3535EE;
  cursor:pointer;
}

.form-container {
  height:100%;
  width:100%;
  border: 0.3em solid #666633;
  border-radius: 2em;
  padding: 1em;
  background-color: white;
  overflow:hidden;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  border-left: 0.25em solid lightblue;
  border-right: 0.25em solid lightblue;
}

#chat-header {
  min-height: 10%;
  max-height: 10%;
}

#chat-messages {
  overflow-y: scroll;
  overflow-x: hidden;

  min-height: 50%;
  max-height: 50%;
  
  margin-top: 10%;

  scroll-behavior: smooth;
}

.chat-user-input { 
  min-height: 30%;
  max-height: 30%;
  
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 0.5em 0.25em;
}

#left {
  border-left: 0.25em solid lightblue;
}
#right {
  border-right: 0.25em solid lightblue;
}

.message::after {
  content: "";
  clear: both;
  display: table;
}

.message img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  border-left: 0.25em solid lightblue;
  border-right: 0.25em solid lightblue;
}

.message img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.form-container hr {
  width: 100%;
}

#text-message {
  height: 100em;
  width: 100%;
  background: #f1f1f1;
  border: none;
  resize: none;
}

#text-message:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  height: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 0.75em;
  border: none;
  cursor: pointer;
  opacity: 0.75;
}

@media screen and (max-width : 650px) {
  .chat-popup {
    width: 100vw;
    border: none;
    right: 0;
  }
}

@media (min-width: 650px) and (max-width: 1024px) {
  .chat-popup {
    width:50%;
  }
}