/* ------ Slideshow BEGINNING */

.slideshow-container {
    display: block;
    position: relative;
    margin-top: 9vh;
}

.slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 25px;
    user-select: none;
}
    
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 25px;
}
    
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #6666337e;
}
    
.text {
    color: #f2f2f2;
    font-size: 3em;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
      
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@media screen and (max-width : 600px){
    .text{
        font-size: 1.5em;
    }
    .prev, .next{
        font-size: 8px;
    }    
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
    
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* ------ Slideshow END */

/* ------ Text BEGINNING */

.middle-text {
    padding: 0vw 1.5vw 0vw 1.5vw;
    margin: 2vh 2vw;
    display: flex;
    border: 4px dashed #666633;
    color: #666633;
    animation: bounce 2s infinite;
}

@media screen and (max-width : 600px){
    .middle-text {
        display:block;
    }
}
  
@keyframes bounce{
    0% {
        transform: translate(0, 4px);
    }
    50% {
        transform: translate(0, 8px);
    }
}

/* ------ Text END */

/* ------ Timeline BEGINNING */

.timeline {
    position: relative;
    max-width: 1000px;
    margin: 5vh auto;
  }

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #003300;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
    
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color:#666633;
    border: 4px solid #003300;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
    
.left {
    left: 0;
}
    
.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #666633;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #666633;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #666633;
    border-width: 10px 10px 10px 0;
    border-color: transparent #666633 transparent transparent;
}
    

.right::after {
    left: -16px;
}
    
.content {
    padding: 20px 30px;
    background-color: #99994d;
    position: relative;
    border-radius: 6px;
    border: 4px solid #666633;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
    
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    .container::before {
        left: 60px;
        border: medium solid #99994d;
        border-width: 10px 10px 10px 0;
        border-color: transparent #99994d transparent transparent;
    }
    
    .left::after, .right::after {
        left: 15px;
    }
    
    .right {
        left: 0%;
    }
 }

/* ------ Timeline END */